# Ignore directories
data/
Server/
myenv/

Previous Versions/flwr/

Figures/


# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore log files
*.log

# Ignore compiled files
*.o
*.out
*.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.png
# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/
